@charset "UTF-8";
/* CSS Document */
body{
	
	background-color: #EBE7E7;
	
	}
#main{
	
	margin:0 auto;
	
	
	
	}
	
#content{
	float:left;
	
	border:solid 
	
	}	
	
#ad{
	float:left;
	
	margin-left:10px;
	
	}	
	
a{
	text-decoration:none;
	color:#444;
	
	}
	
h3{
	font-family: '微軟正黑體', Arial, STHeiti, Sans Serif;
	
	}	
img{
	vertical-align: middle;

	}	
p{
	
	font-family: '微軟正黑體', Arial, STHeiti, Sans Serif;
	line-height: 2.1 !important;
	text-indent: 2em;
    margin-bottom: 20px;
	letter-spacing:0.01em;
	
	}	
.content_img{
	text-align:center;
	
	}	
.note{
	margin-top:10px;
	margin-bottom:10px;
	list-style:circle;
	
    	
	}	
a:hover {
   color: #FF1BA1;
}
ol li{
	
	line-height: 2.1 !important;
	}
#backtotop {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;    
    padding: 19px 19px;    
    font-size: 20px; 
    cursor: pointer;
	background-image:url(img/left-arrow.svg);
   
}

footer{
	float:left;
	height:100px;
	font-weight:300;
	
	}
	
	
	